#nav-header {
  z-index: 1000;
}

#navbar {
  position: relative;
  height: 145px;
  width: 100%;
  &.fixed-width #nav-wrapper {
    position: relative;
    height: inherit;
    width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
  }
  &.fluid-width #nav-wrapper {
    position: relative;
    height: inherit;
    width: 100%;
    padding: 0 30px;
  }
  &.top-bar {
    position: absolute;
    /*background-color:transparent;*/
    margin: auto;
    left: 0;
    right: 0;
    &.stick-it {
      position: fixed;
      height: 145px;
      width: 100%;
      background-color: #FFF;
      z-index: 1500;
      /*-webkit-transform: translateZ(0);*/
    }
  }
  &.bottom-bar {
    &.inside {
      position: absolute;
      /*background-color:transparent;*/
      bottom: 0;
    }
    &.outside {
      position: absolute;
      /*background-color:transparent;*/
      bottom: -145px;
    }
    &.stick-it {
      position: fixed;
      height: 145px;
      width: 100%;
      background-color: #FFF;
      z-index: 1500;
      top: 0;
      bottom: auto;
      /*-webkit-transform: translateZ(0)*/
    }
  }
  &.transparent {
    /*position:relative;*/
    background-color: transparent;
  }
  &.block-color {
    /*position:relative; */
    background-color: #FFF;
  }
}

/*.is-sticky #navbar.block-color{
	-webkit-transform: translateZ(0)
}*/

.logo-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 40px;
}

#nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 45px 0 0 0;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  z-index: 1000;
}

#navbar {
  &.nav-center {
    .logo-wrapper {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    #nav-menu {
      text-align: center;
    }
  }
  &.nav-left {
    .logo-wrapper {
      float: right;
    }
    #nav-menu {
      float: left;
      text-align: left;
      width: 90%;
    }
  }
  &.nav-right {
    .logo-wrapper {
      float: left;
    }
    #nav-menu {
      float: right;
      text-align: right;
      width: 90%;
    }
  }
}
