#couple {
  padding: 140px 0 100px 0;
}

.couple-name {
  font-family: 'Pacifico', cursive;
  font-size: 41px;
  padding-top: 100px;
  color: #FFF;
  line-height: 41px;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.couple-excerpt {
  margin-top: 40px;
  margin-bottom: 40px;
}
