.interest-icon {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  text-align: center;
}

.interest-blurb {
  display: inline-block;
  width: 75%;
  vertical-align: top;
}

.rsvp-wrapper {
  padding: 35px 20px 20px 25px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.bridesmaid-wrapper, .groomsmen-wrapper, .blog-wrapper {
  margin-bottom: 40px;
}
