.his-her-name {
  position: relative;
  h2 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .last-name {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    display: block;
    margin-top: 0;
  }
  .heart-wrapper {
    position: absolute;
    right: -50px;
    top: 0;
  }
  .custom-heart {
    background-color: #f0394d;
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 26px;
  }
}
