#where-when {
  padding: 120px 0;
}

.and {
  color: #f0394d;
}

.border-column {
  border-left: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
}

#map-canvas {
  height: 560px;
  width: 100%;
}
