.owl-carousel .item {
  padding: 0 15px;
}

.owl-theme .owl-controls {
  .owl-page {
    span {
      display: block;
      width: 8px;
      height: 8px;
      margin: 5px 7px;
      opacity: 1;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #333333;
    }
    &.active span {
      background: #f0394d;
    }
  }
  &.clickable .owl-page:hover span {
    background: #f0394d;
  }
}
