@media screen and (max-width: 1200px) {
  #navbar.fixed-width #nav-wrapper, #menuicon-bar.fixed-width, .slide-title-inner-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  #navbar {
    height: 100px;
  }
  #navbar-sticky-wrapper {
    height: 100px !important;
  }
  #navbar {
    &.top-bar.stick-it {
      height: 100px;
    }
    &.bottom-bar {
      &.stick-it {
        height: 100px;
      }
      &.outside {
        bottom: -100px;
      }
    }
    &.fluid-width #nav-wrapper, &.fixed-width #nav-wrapper {
      padding: 20px 30px;
    }
  }
  .logo-wrapper {
    margin: 0;
  }
  #nav-menu {
    display: none;
    &.sidebar, &.open {
      display: block;
    }
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    left: 0;
    top: 100%;
    clear: both !important;
    text-align: left !important;
    width: 100% !important;
    background-color: #FFF;
    height: 330px;
    overflow: auto;
  }
  .bottom-bar.transparent #nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    left: 0;
    top: 100%;
    clear: both !important;
    text-align: left !important;
    width: 100% !important;
    background-color: #FFF;
    height: 330px;
    overflow: auto;
  }
  .transparent {
    #nav-menu {
      width: 80% !important;
      position: absolute;
      margin: auto;
      top: 100%;
      left: 0;
      right: 0;
    }
    &.stick-it #nav-menu {
      width: 100% !important;
    }
  }
  /* 02.2.1 Nav Center */
  /* 02.2.2 Nav Left 	 */
  /* 02.2.3 Nav Right  */
  #navbar {
    &.nav-center .logo-wrapper, &.nav-left .logo-wrapper, &.nav-right .logo-wrapper {
      position: relative;
      float: left;
    }
  }
  #nav-menu {
    -webkit-overflow-scrolling: touch;
    ul {
      -webkit-overflow-scrolling: touch;
    }
    li {
      position: relative;
      a {
        display: block;
        width: 100%;
        color: #666;
        border-bottom: solid thin #f4f2f2;
      }
    }
  }
  .transparent #nav-menu li a {
    color: #666;
  }
  #nav-menu li {
    a:hover {
      background-color: #f0394d;
      color: #FFF;
    }
    &:before {
      content: '';
    }
  }
  .first-child-margin, .last-child-margin, .split-margin {
    margin: 0;
  }
  #nav-menu {
    ul {
      display: block;
      width: 100%;
      position: relative;
      top: 0;
      text-align: left;
      border-top: none;
    }
    li > ul li a {
      &:before {
        content: '-';
        padding-right: 10px;
      }
      &:after {
        content: '';
      }
    }
    ul ul {
      display: block;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      border: none;
      li a:before {
        content: '- -';
        padding-right: 10px;
      }
      ul li a:before {
        content: '- - -';
        padding-right: 10px;
      }
    }
  }
  #mobile-nav {
    display: block;
    position: relative;
    float: right;
    font-size: 28px;
    margin-top: 12px;
    z-index: 1000;
  }
  .transparent {
    #mobile-nav {
      color: #FFF;
    }
    &.stick-it #mobile-nav {
      color: #666;
    }
  }
  #menuicon-bar {
    top: 0;
    padding: 0 30px;
    &.menuicon-left .logo-outter-wrapper, &.menuicon-right .logo-outter-wrapper {
      margin-top: 40px;
    }
  }
  #sticky-menuicon {
    top: 10px;
  }
  #menuicon-bar {
    &.menuicon-right #sticky-menuicon {
      right: 30px;
    }
    &.menuicon-left #sticky-menuicon {
      left: 30px;
    }
  }
  #main-slider.flexslider {
    &:hover, .flex-direction-nav {
      .flex-prev {
        opacity: 0.4;
        left: 20px;
      }
      .flex-next {
        opacity: 0.4;
        right: 20px;
      }
    }
  }
  .no-slider-page #content {
    padding: 140px 0 80px 0;
  }
  .slider-title-page #content {
    padding: 80px 0;
  }
  .slider-banner-page #content {
    padding: 60px 0 80px 0;
  }
  .full-gallery-page #content {
    padding: 100px 0 80px 0;
  }
  .outside-bottom-bar-page #content {
    margin-top: 100px;
  }
  .divider-wrapper {
    padding: 70px 0;
  }
  .image-divider {
    background-attachment: scroll;
  }
  #popup-template {
    width: 90%;
  }
  .interest-icon {
    width: 10%;
  }
  .interest-blurb {
    width: 88%;
  }
  .his-her-name .heart-wrapper {
    display: none;
  }
  .story-row.row {
    display: block;
    padding: 20px 0;
    [class*="col-"] {
      display: block;
      text-align: center;
    }
  }
  .story-date-wrapper {
    margin-bottom: 30px;
  }
  .story-date {
    float: none;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin: auto;
    .month-year {
      font-family: 'Oswald', sans-serif;
      font-size: 16px;
      color: #FFF;
    }
  }
  .arrow-right, .arrow-left {
    display: none;
    float: none;
  }
  .vertical-line {
    display: none;
  }
  .border-column {
    border: none;
  }
}

@media screen and (max-width: 991px) and (orientation: landscape) {
  #nav-menu {
    height: 230px !important;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  #save-the-date {
    padding-right: 40px;
    padding-top: 0;
    margin-bottom: 0px;
  }
  #save {
    font-size: 50px;
    line-height: 30px;
  }
  #the-date {
    font-size: 40px;
  }
  #date {
    font-size: 30px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  form .btn {
    width: 100%;
    white-space: normal;
  }
}

@media screen and (max-width: 480px) {
  /*p{
  	font-size:14px;
  	line-height:24px;
  }*/
  #save-the-date {
    padding-right: 40px;
    margin-bottom: 0px;
    padding-top: 0;
  }
  #save {
    font-size: 60px;
    line-height: 35px;
  }
  #the-date {
    font-size: 50px;
  }
  #date {
    font-size: 40px;
    line-height: 25px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .title-excerpt {
    padding: 20px;
  }
  .banner-text {
    &.small, &.medium, &.large {
      padding: 0;
    }
  }
  #popup-template #the-content {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .masonry-col, .grid-sizer {
    width: 100% !important;
    margin-bottom: 5% !important;
  }
  #couple {
    padding: 60px 0 40px 0;
  }
  .couple-name {
    font-size: 36px;
    padding-top: 80px !important;
    line-height: 38px;
  }
  .couple-excerpt {
    margin-top: 20px;
  }
  #location-countdown .image-divider.auto-height {
    padding: 60px 0;
  }
  #counting {
    font-size: 55px;
    line-height: 45px;
  }
  #down {
    font-size: 50px;
    line-height: 50px;
  }
  .simple-countdown {
    .countdown-amount, .countdown-period {
      font-size: 16px;
    }
  }
  #the-wedding {
    padding: 60px 0 40px 0;
  }
  #rsvp {
    padding: 60px 0;
    background-color: #FFF;
  }
  .interest-icon {
    width: 20%;
  }
  .interest-blurb {
    width: 78%;
  }
  #our-story {
    padding: 80px 0;
  }
  #end-of-story {
    margin-top: 50px;
  }
  #where-when, #gallery-section {
    padding: 80px 0;
  }
  .circle-countdown {
    .countdown-amount {
      width: 45px;
      height: 45px;
      padding-top: 9px;
      font-size: 20px;
    }
    .countdown-period {
      padding: 10px;
      display: block;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  #more-events, #groomsmen-section, #bridesmaid-section, #gift-section, #rsvp-section {
    padding: 80px 0;
  }
}

@media screen and (max-width: 320px) {
  #save-the-date {
    padding-right: 40px;
    padding-top: 0;
    margin-bottom: 0px;
  }
  #save {
    font-size: 50px;
    line-height: 30px;
  }
  #the-date {
    font-size: 40px;
  }
  #date {
    font-size: 30px;
    line-height: 20px;
  }
  .couple-name {
    font-size: 30px;
    padding-top: 70px !important;
    line-height: 30px;
  }
  .couple-excerpt {
    margin-top: 20px;
  }
  footer .image-divider.fixed-height {
    height: 400px;
  }
  #thank-you {
    text-align: center;
    color: #FFF;
    font-family: 'Pacifico';
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  #thank, #you {
    font-size: 45px;
    line-height: 35px;
  }
  #footer-couple-name {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #FFF;
    letter-spacing: 3px;
    margin-top: 10px;
  }
}
