.top-heart {
  font-size: 40px;
  line-height: 45px;
  color: #f0394d;
}

.his-name {
  font-family: $oswald;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}

.her-name {
  font-family: $oswald;
  font-size: 30px;
  line-height: 35px;
  color: #f0394d;
}
