@font-face {
  font-family: fontello;
  src:
    url('fonts/fontello.ttf?d1dzhb') format('truetype'),
    url('fonts/fontello.woff?d1dzhb') format('woff'),
    url('fonts/fontello.svg?d1dzhb#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="de-icon-"], [class*=" de-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: fontello !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

.de-icon-glass:before {
  content: "\e800";
}

.de-icon-search:before {
  content: "\e802";
}

.de-icon-mail:before {
  content: "\e803";
}

.de-icon-mail-alt:before {
  content: "\e804";
}

.de-icon-heart:before {
  content: "\e806";
}

.de-icon-heart-empty:before {
  content: "\e807";
}

.de-icon-star:before {
  content: "\e808";
}

.de-icon-star-empty:before {
  content: "\e809";
}

.de-icon-user:before {
  content: "\e80c";
}

.de-icon-users:before {
  content: "\e80d";
}

.de-icon-male:before {
  content: "\e80e";
}

.de-icon-female:before {
  content: "\e80f";
}
.de-icon-child:before {
  content: "\e810";
}
.de-icon-video:before {
  content: "\e811";
}
.de-icon-videocam:before {
  content: "\e812";
}
.de-icon-picture:before {
  content: "\e813";
}
.de-icon-camera:before {
  content: "\e814";
}
.de-icon-camera-alt:before {
  content: "\e815";
}
.de-icon-th-large:before {
  content: "\e816";
}
.de-icon-th:before {
  content: "\e817";
}
.de-icon-ok:before {
  content: "\e819";
}
.de-icon-ok-circled2:before {
  content: "\e81b";
}
.de-icon-cancel:before {
  content: "\e81d";
}
.de-icon-cancel-circled2:before {
  content: "\e81f";
}
.de-icon-plus:before {
  content: "\e820";
}
.de-icon-minus:before {
  content: "\e824";
}
.de-icon-help:before {
  content: "\e828";
}
.de-icon-help-circled:before {
  content: "\e829";
}
.de-icon-info-circled:before {
  content: "\e82a";
}
.de-icon-info:before {
  content: "\e82b";
}
.de-icon-home:before {
  content: "\e82c";
}
.de-icon-attach:before {
  content: "\e831";
}
.de-icon-pin:before {
  content: "\e835";
}
.de-icon-tag:before {
  content: "\e838";
}
.de-icon-tags:before {
  content: "\e839";
}
.de-icon-flag-checkered:before {
  content: "\e83e";
}
.de-icon-thumbs-up:before {
  content: "\e83f";
}
.de-icon-thumbs-down:before {
  content: "\e840";
}
.de-icon-thumbs-up-alt:before {
  content: "\e841";
}
.de-icon-thumbs-down-alt:before {
  content: "\e842";
}
.de-icon-download-cloud:before {
  content: "\e845";
}
.de-icon-upload-cloud:before {
  content: "\e846";
}
.de-icon-pencil:before {
  content: "\e851";
}
.de-icon-bell:before {
  content: "\e85c";
}
.de-icon-bell-alt:before {
  content: "\e85d";
}
.de-icon-attention-alt:before {
  content: "\e85e";
}
.de-icon-attention:before {
  content: "\e85f";
}
.de-icon-attention-circled:before {
  content: "\e860";
}
.de-icon-location:before {
  content: "\e861";
}
.de-icon-direction:before {
  content: "\e862";
}
.de-icon-compass:before {
  content: "\e863";
}
.de-icon-trash:before {
  content: "\e864";
}
.de-icon-phone:before {
  content: "\e87a";
}
.de-icon-phone-squared:before {
  content: "\e87b";
}
.de-icon-menu:before {
  content: "\e87d";
}
.de-icon-basket:before {
  content: "\e882";
}
.de-icon-calendar:before {
  content: "\e883";
}
.de-icon-clock:before {
  content: "\e88d";
}
.de-icon-block:before {
  content: "\e88f";
}
.de-icon-resize-full-alt:before {
  content: "\e891";
}
.de-icon-resize-vertical:before {
  content: "\e893";
}
.de-icon-resize-horizontal:before {
  content: "\e894";
}
.de-icon-move:before {
  content: "\e895";
}
.de-icon-down-circled2:before {
  content: "\e898";
}
.de-icon-up-circled2:before {
  content: "\e899";
}
.de-icon-left-circled2:before {
  content: "\e89a";
}
.de-icon-right-circled2:before {
  content: "\e89b";
}
.de-icon-down-dir:before {
  content: "\e89c";
}
.de-icon-up-dir:before {
  content: "\e89d";
}
.de-icon-left-dir:before {
  content: "\e89e";
}
.de-icon-right-dir:before {
  content: "\e89f";
}
.de-icon-down-open:before {
  content: "\e8a0";
}
.de-icon-left-open:before {
  content: "\e8a1";
}
.de-icon-right-open:before {
  content: "\e8a2";
}
.de-icon-up-open:before {
  content: "\e8a3";
}
.de-icon-angle-left:before {
  content: "\e8a4";
}
.de-icon-angle-right:before {
  content: "\e8a5";
}
.de-icon-angle-up:before {
  content: "\e8a6";
}
.de-icon-angle-down:before {
  content: "\e8a7";
}
.de-icon-angle-circled-left:before {
  content: "\e8a8";
}
.de-icon-angle-circled-right:before {
  content: "\e8a9";
}
.de-icon-angle-circled-up:before {
  content: "\e8aa";
}
.de-icon-angle-circled-down:before {
  content: "\e8ab";
}
.de-icon-angle-double-left:before {
  content: "\e8ac";
}
.de-icon-angle-double-right:before {
  content: "\e8ad";
}
.de-icon-angle-double-up:before {
  content: "\e8ae";
}
.de-icon-angle-double-down:before {
  content: "\e8af";
}
.de-icon-down:before {
  content: "\e8b0";
}
.de-icon-left:before {
  content: "\e8b1";
}
.de-icon-right:before {
  content: "\e8b2";
}
.de-icon-up:before {
  content: "\e8b3";
}
.de-icon-down-big:before {
  content: "\e8b4";
}
.de-icon-left-big:before {
  content: "\e8b5";
}
.de-icon-right-big:before {
  content: "\e8b6";
}
.de-icon-up-big:before {
  content: "\e8b7";
}
.de-icon-right-hand:before {
  content: "\e8b8";
}
.de-icon-left-hand:before {
  content: "\e8b9";
}
.de-icon-up-hand:before {
  content: "\e8ba";
}
.de-icon-down-hand:before {
  content: "\e8bb";
}
.de-icon-left-circled:before {
  content: "\e8bc";
}
.de-icon-right-circled:before {
  content: "\e8bd";
}
.de-icon-up-circled:before {
  content: "\e8be";
}
.de-icon-down-circled:before {
  content: "\e8bf";
}
.de-icon-target:before {
  content: "\e8d8";
}
.de-icon-sun:before {
  content: "\e8e1";
}
.de-icon-cloud:before {
  content: "\e8e2";
}
.de-icon-flash:before {
  content: "\e8e3";
}
.de-icon-moon:before {
  content: "\e8e4";
}
.de-icon-umbrella:before {
  content: "\e8e5";
}
.de-icon-flight:before {
  content: "\e8e6";
}
.de-icon-paper-plane:before {
  content: "\e8e8";
}
.de-icon-ellipsis:before {
  content: "\e907";
}
.de-icon-ellipsis-vert:before {
  content: "\e908";
}
.de-icon-road:before {
  content: "\e90a";
}
.de-icon-barcode:before {
  content: "\e90d";
}
.de-icon-book:before {
  content: "\e90e";
}
.de-icon-ajust:before {
  content: "\e90f";
}
.de-icon-tint:before {
  content: "\e910";
}
.de-icon-check:before {
  content: "\e911";
}
.de-icon-circle:before {
  content: "\e913";
}
.de-icon-circle-empty:before {
  content: "\e914";
}
.de-icon-circle-thin:before {
  content: "\e915";
}
.de-icon-gift:before {
  content: "\e919";
}
.de-icon-certificate:before {
  content: "\e926";
}
.de-icon-tasks:before {
  content: "\e927";
}
.de-icon-cab:before {
  content: "\e92b";
}
.de-icon-taxi:before {
  content: "\e92c";
}
.de-icon-money:before {
  content: "\e92e";
}
.de-icon-dollar:before {
  content: "\e931";
}
.de-icon-sort:before {
  content: "\e938";
}
.de-icon-sort-down:before {
  content: "\e939";
}
.de-icon-sort-up:before {
  content: "\e93a";
}
.de-icon-coffee:before {
  content: "\e945";
}
.de-icon-food:before {
  content: "\e946";
}
.de-icon-building:before {
  content: "\e94e";
}
.de-icon-building-filled:before {
  content: "\e94f";
}
.de-icon-smile:before {
  content: "\e951";
}
.de-icon-frown:before {
  content: "\e952";
}
.de-icon-facebook:before {
  content: "\e978";
}
.de-icon-facebook-squared:before {
  content: "\e979";
}
.de-icon-gittip:before {
  content: "\e981";
}
.de-icon-google:before {
  content: "\e982";
}
.de-icon-gplus:before {
  content: "\e983";
}
.de-icon-pinterest-circled:before {
  content: "\e992";
}
.de-icon-pinterest-squared:before {
  content: "\e993";
}
.de-icon-twitter:before {
  content: "\e9a7";
}
.de-icon-youtube:before {
  content: "\e9b1";
}
.de-icon-youtube-squared:before {
  content: "\e9b3";
}
.de-icon-youtube-play:before {
  content: "\e9b4";
}
.de-icon-search-1:before {
  content: "\e9ba";
}
.de-icon-mail-1:before {
  content: "\e9bc";
}
.de-icon-heart-1:before {
  content: "\e9bd";
}
.de-icon-heart-empty-1:before {
  content: "\e9be";
}
.de-icon-star-1:before {
  content: "\e9bf";
}
.de-icon-star-empty-1:before {
  content: "\e9c0";
}
.de-icon-user-1:before {
  content: "\e9c1";
}
.de-icon-picture-1:before {
  content: "\e9c5";
}
.de-icon-camera-1:before {
  content: "\e9c6";
}
.de-icon-help-1:before {
  content: "\e9d3";
}
.de-icon-info-1:before {
  content: "\e9d5";
}
.de-icon-home-1:before {
  content: "\e9d8";
}
.de-icon-tag-1:before {
  content: "\e9de";
}
.de-icon-reply-1:before {
  content: "\e9e7";
}
.de-icon-reply-all-1:before {
  content: "\e9e8";
}
.de-icon-forward-1:before {
  content: "\e9e9";
}
.de-icon-pencil-1:before {
  content: "\e9ed";
}
.de-icon-bell-1:before {
  content: "\e9f4";
}
.de-icon-attention-1:before {
  content: "\e9f5";
}
.de-icon-alert:before {
  content: "\e9f6";
}
.de-icon-address:before {
  content: "\e9f8";
}
.de-icon-location-1:before {
  content: "\e9f9";
}
.de-icon-phone-1:before {
  content: "\ea0b";
}
.de-icon-cog-1:before {
  content: "\ea0c";
}
.de-icon-basket-1:before {
  content: "\ea10";
}
.de-icon-calendar-1:before {
  content: "\ea12";
}
.de-icon-clock-1:before {
  content: "\ea19";
}
.de-icon-popup:before {
  content: "\ea22";
}
.de-icon-arrow-combo:before {
  content: "\ea25";
}
.de-icon-down-circled-1:before {
  content: "\ea26";
}
.de-icon-left-circled-1:before {
  content: "\ea27";
}
.de-icon-right-circled-1:before {
  content: "\ea28";
}
.de-icon-up-circled-1:before {
  content: "\ea29";
}
.de-icon-down-open-1:before {
  content: "\ea2a";
}
.de-icon-left-open-1:before {
  content: "\ea2b";
}
.de-icon-right-open-1:before {
  content: "\ea2c";
}
.de-icon-up-open-1:before {
  content: "\ea2d";
}
.de-icon-down-open-mini:before {
  content: "\ea2e";
}
.de-icon-left-open-mini:before {
  content: "\ea2f";
}
.de-icon-right-open-mini:before {
  content: "\ea30";
}
.de-icon-up-open-mini:before {
  content: "\ea31";
}
.de-icon-down-open-big:before {
  content: "\ea32";
}
.de-icon-left-open-big:before {
  content: "\ea33";
}
.de-icon-right-open-big:before {
  content: "\ea34";
}
.de-icon-up-open-big:before {
  content: "\ea35";
}
.de-icon-down-1:before {
  content: "\ea36";
}
.de-icon-left-1:before {
  content: "\ea37";
}
.de-icon-right-1:before {
  content: "\ea38";
}
.de-icon-up-1:before {
  content: "\ea39";
}
.de-icon-down-dir-1:before {
  content: "\ea3a";
}
.de-icon-left-dir-1:before {
  content: "\ea3b";
}
.de-icon-right-dir-1:before {
  content: "\ea3c";
}
.de-icon-up-dir-1:before {
  content: "\ea3d";
}
.de-icon-down-bold:before {
  content: "\ea3e";
}
.de-icon-left-bold:before {
  content: "\ea3f";
}
.de-icon-right-bold:before {
  content: "\ea40";
}
.de-icon-up-bold:before {
  content: "\ea41";
}
.de-icon-down-thin:before {
  content: "\ea42";
}
.de-icon-left-thin:before {
  content: "\ea43";
}
.de-icon-right-thin:before {
  content: "\ea44";
}
.de-icon-up-thin:before {
  content: "\ea45";
}
.de-icon-play-1:before {
  content: "\ea4e";
}
.de-icon-stop-1:before {
  content: "\ea4f";
}
.de-icon-pause-1:before {
  content: "\ea50";
}
.de-icon-fast-forward:before {
  content: "\ea54";
}
.de-icon-fast-backward:before {
  content: "\ea55";
}
.de-icon-cloud-1:before {
  content: "\ea69";
}
.de-icon-cloud-thunder:before {
  content: "\ea6a";
}
.de-icon-flash-1:before {
  content: "\ea6b";
}
.de-icon-moon-1:before {
  content: "\ea6c";
}
.de-icon-flight-1:before {
  content: "\ea6d";
}
.de-icon-paper-plane-1:before {
  content: "\ea6e";
}
.de-icon-dot-3:before {
  content: "\ea76";
}
.de-icon-erase:before {
  content: "\ea7a";
}
.de-icon-ticket-1:before {
  content: "\ea82";
}
.de-icon-credit-card-1:before {
  content: "\ea86";
}
.de-icon-traffic-cone:before {
  content: "\ea96";
}
.de-icon-twitter-1:before {
  content: "\eaa8";
}
.de-icon-twitter-circled:before {
  content: "\eaa9";
}
.de-icon-facebook-1:before {
  content: "\eaaa";
}
.de-icon-facebook-squared-1:before {
  content: "\eaac";
}
.de-icon-gplus-1:before {
  content: "\eaad";
}
.de-icon-gplus-circled:before {
  content: "\eaae";
}
.de-icon-pinterest:before {
  content: "\eaaf";
}
.de-icon-pinterest-circled-1:before {
  content: "\eab0";
}
.de-icon-tumblr-1:before {
  content: "\eab1";
}
.de-icon-instagram:before {
  content: "\eac0";
}
.de-icon-dropbox-1:before {
  content: "\eac1";
}
.de-icon-search-outline:before {
  content: "\ead5";
}
.de-icon-search-2:before {
  content: "\ead6";
}
.de-icon-mail-2:before {
  content: "\ead7";
}
.de-icon-heart-2:before {
  content: "\ead8";
}
.de-icon-heart-filled:before {
  content: "\ead9";
}
.de-icon-star-2:before {
  content: "\eada";
}
.de-icon-star-filled:before {
  content: "\eadb";
}
.de-icon-videocam-outline:before {
  content: "\eae5";
}
.de-icon-picture-2:before {
  content: "\eae8";
}
.de-icon-camera-outline:before {
  content: "\eae9";
}
.de-icon-camera-2:before {
  content: "\eaea";
}
.de-icon-th-outline:before {
  content: "\eaeb";
}
.de-icon-th-1:before {
  content: "\eaec";
}
.de-icon-ok-1:before {
  content: "\eaf2";
}
.de-icon-cancel-outline:before {
  content: "\eaf3";
}
.de-icon-cancel-2:before {
  content: "\eaf4";
}
.de-icon-cancel-circled-outline:before {
  content: "\eaf7";
}
.de-icon-plus-2:before {
  content: "\eafa";
}
.de-icon-info-outline:before {
  content: "\eb01";
}
.de-icon-home-2:before {
  content: "\eb04";
}
.de-icon-pin-1:before {
  content: "\eb0e";
}
.de-icon-eye-2:before {
  content: "\eb10";
}
.de-icon-thumbs-up-2:before {
  content: "\eb16";
}
.de-icon-thumbs-down-2:before {
  content: "\eb17";
}
.de-icon-reply-outline:before {
  content: "\eb1e";
}
.de-icon-reply-2:before {
  content: "\eb1f";
}
.de-icon-forward-outline:before {
  content: "\eb20";
}
.de-icon-forward-2:before {
  content: "\eb21";
}
.de-icon-bell-2:before {
  content: "\eb2e";
}
.de-icon-attention-filled:before {
  content: "\eb30";
}
.de-icon-menu-outline:before {
  content: "\eb4b";
}
.de-icon-menu-2:before {
  content: "\eb4c";
}
.de-icon-cog-outline:before {
  content: "\eb4d";
}
.de-icon-basket-2:before {
  content: "\eb51";
}
.de-icon-block-outline:before {
  content: "\eb5f";
}
.de-icon-block-2:before {
  content: "\eb60";
}
.de-icon-move-1:before {
  content: "\eb66";
}
.de-icon-left-open-outline:before {
  content: "\eb6d";
}
.de-icon-left-open-2:before {
  content: "\eb6e";
}
.de-icon-right-open-outline:before {
  content: "\eb6f";
}
.de-icon-right-open-2:before {
  content: "\eb70";
}
.de-icon-down-2:before {
  content: "\eb71";
}
.de-icon-left-2:before {
  content: "\eb72";
}
.de-icon-right-2:before {
  content: "\eb73";
}
.de-icon-up-2:before {
  content: "\eb74";
}
.de-icon-down-outline:before {
  content: "\eb75";
}
.de-icon-left-outline:before {
  content: "\eb76";
}
.de-icon-right-outline:before {
  content: "\eb77";
}
.de-icon-up-outline:before {
  content: "\eb78";
}
.de-icon-down-small:before {
  content: "\eb79";
}
.de-icon-left-small:before {
  content: "\eb7a";
}
.de-icon-right-small:before {
  content: "\eb7b";
}
.de-icon-up-small:before {
  content: "\eb7c";
}
.de-icon-sun-1:before {
  content: "\eba9";
}
.de-icon-sun-filled:before {
  content: "\ebaa";
}
.de-icon-cloud-2:before {
  content: "\ebab";
}
.de-icon-flash-outline:before {
  content: "\ebac";
}
.de-icon-flash-2:before {
  content: "\ebad";
}
.de-icon-rain:before {
  content: "\ebb1";
}
.de-icon-cloud-sun:before {
  content: "\ebb2";
}
.de-icon-drizzle:before {
  content: "\ebb3";
}
.de-icon-cloud-flash:before {
  content: "\ebb5";
}
.de-icon-plane:before {
  content: "\ebb9";
}
.de-icon-check-outline:before {
  content: "\ebc1";
}
.de-icon-check-2:before {
  content: "\ebc2";
}
.de-icon-gift-1:before {
  content: "\ebc3";
}
.de-icon-ticket-2:before {
  content: "\ebcd";
}
.de-icon-credit-card-2:before {
  content: "\ebce";
}
.de-icon-wine:before {
  content: "\ebdc";
}
.de-icon-coffee-1:before {
  content: "\ebdd";
}
.de-icon-beer-1:before {
  content: "\ebde";
}
.de-icon-at:before {
  content: "\ebe9";
}
.de-icon-at-circled:before {
  content: "\ebea";
}
.de-icon-facebook-2:before {
  content: "\ebf4";
}
.de-icon-pinterest-circled-2:before {
  content: "\ebfd";
}
.de-icon-pinterest-1:before {
  content: "\ebfe";
}
.de-icon-tumbler:before {
  content: "\ec02";
}
.de-icon-twitter-circled-1:before {
  content: "\ec03";
}
.de-icon-twitter-2:before {
  content: "\ec04";
}
.de-icon-glass-1:before {
  content: "\ec07";
}
.de-icon-search-3:before {
  content: "\ec09";
}
.de-icon-mail-3:before {
  content: "\ec0b";
}
.de-icon-heart-3:before {
  content: "\ec0d";
}
.de-icon-heart-circled:before {
  content: "\ec0e";
}
.de-icon-heart-empty-2:before {
  content: "\ec0f";
}
.de-icon-star-3:before {
  content: "\ec10";
}
.de-icon-star-circled:before {
  content: "\ec11";
}
.de-icon-star-empty-2:before {
  content: "\ec12";
}
.de-icon-video-3:before {
  content: "\ec17";
}
.de-icon-video-alt:before {
  content: "\ec19";
}
.de-icon-videocam-2:before {
  content: "\ec1a";
}
.de-icon-picture-3:before {
  content: "\ec1c";
}
.de-icon-camera-3:before {
  content: "\ec1d";
}
.de-icon-th-2:before {
  content: "\ec21";
}
.de-icon-ok-2:before {
  content: "\ec24";
}
.de-icon-cancel-3:before {
  content: "\ec27";
}
.de-icon-tag-3:before {
  content: "\ec3d";
}
.de-icon-tags-2:before {
  content: "\ec3e";
}
.de-icon-bell-3:before {
  content: "\ec55";
}
.de-icon-location-3:before {
  content: "\ec5a";
}
.de-icon-calendar-3:before {
  content: "\ec72";
}
.de-icon-clock-circled:before {
  content: "\ec7c";
}
.de-icon-block-3:before {
  content: "\ec7f";
}
.de-icon-resize-full-alt-1:before {
  content: "\ec81";
}
.de-icon-resize-small-2:before {
  content: "\ec82";
}
.de-icon-resize-vertical-1:before {
  content: "\ec83";
}
.de-icon-resize-horizontal-1:before {
  content: "\ec84";
}
.de-icon-move-2:before {
  content: "\ec85";
}
.de-icon-zoom-in-2:before {
  content: "\ec86";
}
.de-icon-zoom-out-2:before {
  content: "\ec87";
}
.de-icon-down-open-2:before {
  content: "\ec88";
}
.de-icon-left-open-3:before {
  content: "\ec89";
}
.de-icon-right-open-3:before {
  content: "\ec8a";
}
.de-icon-up-open-2:before {
  content: "\ec8b";
}
.de-icon-down-3:before {
  content: "\ec8c";
}
.de-icon-left-3:before {
  content: "\ec8d";
}
.de-icon-right-3:before {
  content: "\ec8e";
}
.de-icon-up-3:before {
  content: "\ec8f";
}
.de-icon-down-circled-2:before {
  content: "\ec90";
}
.de-icon-left-circled-2:before {
  content: "\ec91";
}
.de-icon-right-circled-2:before {
  content: "\ec92";
}
.de-icon-up-circled-2:before {
  content: "\ec93";
}
.de-icon-down-hand-1:before {
  content: "\ec94";
}
.de-icon-left-hand-1:before {
  content: "\ec95";
}
.de-icon-right-hand-1:before {
  content: "\ec96";
}
.de-icon-up-hand-1:before {
  content: "\ec97";
}
.de-icon-flight-2:before {
  content: "\ecbb";
}
.de-icon-road-1:before {
  content: "\eccc";
}
.de-icon-gift-2:before {
  content: "\ecd6";
}
.de-icon-clipboard-2:before {
  content: "\ecdd";
}
.de-icon-facebook-3:before {
  content: "\ecfd";
}
.de-icon-googleplus:before {
  content: "\ed04";
}
.de-icon-instagram-1:before {
  content: "\ed05";
}
.de-icon-picasa-1:before {
  content: "\ed08";
}
.de-icon-pinterest-2:before {
  content: "\ed09";
}
.de-icon-skype-3:before {
  content: "\ed0b";
}
.de-icon-twitter-3:before {
  content: "\ed0f";
}
.de-icon-tumblr-2:before {
  content: "\ed10";
}
.de-icon-youtube-1:before {
  content: "\ed15";
}
